{
  "viewPaths": [
    "frontend/views"
  ],
  "partialPaths": [
    "frontend/views/_partials"
  ],
  "componentPaths": [
    "frontend/components/atoms",
    "frontend/components/molecules",
    "frontend/components/organisms"
  ],
  "extensions": [
    "hbs",
    "html"
  ],
  "filters": [
    ".*?\\/template\\/([\\w][^\\/]+)$",
    ".*?\\/spec\\/([\\w][^\\/]+)$"
  ]
}
